* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #333;
}

.conteudo {
    width: 80%;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 10px;
}

.info {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.contatos {
    margin-bottom: 30px;
}

.redes-sociais {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.experiencia {
    display: flex;
}